.button {
    @extend %buttonReset;
    cursor: pointer;
    background: var(--primary);
    color: var(--background);
    padding: 1rem;
    border: solid var(--primary) 0.4rem;
    box-shadow: var(--background) -0.4rem 0.4rem 0 0,
        var(--black) -0.8rem 0.8rem 0 0;
    margin: 0 1rem;
    &:hover {
        background: var(--secondary);
        border-color: var(--secondary);
    }
    &:focus {
        outline: none;
        border-color: var(--secondary);
    }
    &:disabled {
        background: var(--grey);
        border-color: var(--grey);
        cursor: not-allowed;
        color: var(--grey--dark);
    }
}

label {
    display: block;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    display: block;
    border: solid var(--primary) 0.2rem;
    padding: 1rem;
    font-family: $text;
    font-size: inherit;
    font-style: italic;
    line-height: 1;
    background: var(--white);
    &:focus {
        outline: none;
        border-color: var(--secondary);
        background: var(--white);
    }
    &::placeholder {
        color: var(--grey);
    }
}

.input__label--required {
    &:after {
        content: "*";
        padding-left: 0.4rem;
        color: var(--secondary);
    }
}

input.input--invalid {
    border-color: var(--red);
}

.input__validation {
    text-align: center;
    display: block;
    font-size: 1.2rem;
    color: var(--white);
    font-style: italic;
    background: var(--red);
    padding: 0.5rem 1rem;
}
