// Wrapper
.layout__wrapper {
    max-width: 60rem;
    width: 96%;
    margin: 8rem auto;
}

// Stack
.layout__stack > * + * {
    margin-top: 2rem;
}

.layout__stack--large > * + * {
    margin-top: 8rem;
}

.layout__stack--small > * + * {
    margin-top: 0.4rem;
}

// Columns
.layout__columns {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}

// Cluster
.layout__cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.layout__cluster--centered {
    @extend .layout__cluster;
    justify-content: center;
}
.layout__cluster--centered-vertically {
    @extend .layout__cluster;
    align-items: center;
}

.layout__cluster--no-gutter {
    grid-gap: 0;
}

.layout__cluster--stretch {
    justify-content: stretch;
    > * {
        flex-grow: 1;
    }
}
