.check__wrapper {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    margin-bottom: 0;
    @include bp(d3) {
        margin-right: 0;
        margin-bottom: 0;
    }
}

.check__wrapper--centered {
    justify-content: center;
    .description {
        text-align: left;
        flex-shrink: 1;
    }
}

.check__container {
    display: flex;
    align-items: center;
    .description {
        text-align: left;
        flex-shrink: 1;
    }
}

// The visible checkbox
.check {
    width: 2.9rem;
    height: 2.9rem;
    position: relative;
    margin-right: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    .check__label--sym {
        background: var(--white);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        border: 0.2rem solid var(--primary);
        font-size: 0;
        &:before {
            content: "";
            display: block;
            position: absolute;
            opacity: 0;
            transition: opacity 0.1s;
            width: 0.9rem;
            height: 1.7rem;
            top: 50%;
            left: 50%;
            border-bottom: 0.3rem solid var(--primary);
            border-right: 0.3rem solid var(--primary);
            transform: translate(-40%, -55%) rotate(34deg);
            transform-origin: 50% 50%;
        }
    }

    &:focus {
        outline: none;
        .check__label--sym {
            border-color: var(--secondary);
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        display: none;
        + label {
            cursor: pointer;
        }
        &:checked + label {
            &:before,
            &:after {
                opacity: 1;
            }
        }
        &:disabled + label {
            background: var(--grey);
            cursor: default;
        }
    }
}

.check__label--visible {
    cursor: pointer;
    font-weight: normal;
    margin: 0;
    line-height: 3rem;
}
