.step__message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.step__message-icon {
    width: 10rem;
    height: 10rem;
    fill: var(--primary);
}

.step__message-heading {
    font-weight: bold;
    color: var(--primary);
    font-size: 6rem;
}
.step__message-text {
    font-size: 1.8rem;
    max-width: 40rem;
    text-align: center;
}
