.step__wrapper {
    min-height: 50rem;
    border: solid var(--primary) 0.4rem;
    box-shadow: var(--background) -0.4rem 0.4rem 0 0,
        var(--black) -0.8rem 0.8rem 0 0;
    display: flex;
    flex-direction: column;
}

.step__inner {
    flex-grow: 1;
    padding: 2rem;
}

.step__footer {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}
