.step__markers {
    list-style: none;
    border-bottom: 0.4rem solid var(--primary);
    // display: flex;
    // justify-content: stretch;
}

.step__marker {
    display: block;
    // flex-grow: 1;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    + .step__marker {
        border-left: 0.4rem solid var(--primary);
    }
    &.step__marker--current {
        background: var(--primary);
        color: var(--background);
    }
}
