// COLOURS

// "The New Defaults"
// These replace all the default css colours with nicer looking alternatives
// (eg.`$blue` is nicer than `blue`). Kept around because they're useful for
// debugging and when adding new features, but still caring a *little* about
// not hurting your eyes.
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #ddd;
$grey: #aaa;
$black: #111;

// Project Colours
:root {
    --primary: #00b7c6;
    --secondary: #ff851b;
    --background: #efeeeb;
    --white: #ffffff;
    --grey: #dad8d2;
    --grey--dark: #aca79a;
    --black: #4d4d4d;
    --red: #ff4136;
}

// Selection Colours
::selection {
    color: $white;
    background: $black;
}
a::selection {
    color: $black;
    background: $white;
}
