// General Utilities

// Hiding things sensibly
// Hide from both screenreaders and browsers:h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}
// Hide only visually, but have it available for screenreaders
.hidden--visually,
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1rem;
}
// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
// Hide visually and from screenreaders, but maintain layout
.invisible {
    visibility: hidden;
}

// Clearfix
.clearfix {
    @extend %cf;
}
//.clearfix:before,
//.clearfix:after{
//  content:' ';
//  display:table;
//}
//.clearfix:after{clear:both;}
//// For IE 6/7 only – Include this rule to trigger hasLayout and contain floats.
//.clearfix{zoom:1;}

.break-all {
    word-break: break-all;
}
